In [2]:
import pandas as pd
    
ds = pd.read_csv('job.csv')
ds.head()

,Unnamed: 0,title,location,summary,salary
0,0,Customer Care Proffessional (Voice),"Gurgaon, Haryana","MS office suites such as Excel, Word, PowerPoi...","₹5,00,000 - ₹9,50,000 a year"
1,1,newFreelance Writer - Work from Home,"Remote in Delhi, Delhi",Submit a minimum of 5 articles (an average of ...,"₹4,000 - ₹15,000 a month"
2,2,Online Maths/Science Tutor for grades(1-7),Remote,Taking a minimum of 3 Lectures in a day (Can t...,₹225 - ₹350 an hour
3,3,Computer Operator,"New Delhi, Delhi","Job Types: Full-time, Part-time.\nExperience o...","₹6,000 - ₹10,000 a month"
4,4,newFresher Hiring for documents verification p...,"Malviya Nagar, Delhi, Delhi","Job Types: Full-time, Part-time, Regular / Per...","₹18,667 - ₹34,655 a month"